.content-container-profile {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	background-color: #ffc75f;
}

.button-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 232px;
	height: 36px;
	width: 80px;
	width: 500px;
	margin-top: 25px;
}

.button-container button {
	width: 120px;
	height: 30px;
}

.profile-button {
	all: unset;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #845ec2;
	border-radius: 20px;
	color: white;
	font-size: 15px;
	font-weight: 600;
}

.profile-button p {
	position: relative;
	bottom: 2px;
	user-select: none;
}

.profile-button:hover {
	background-color: #66449c;
}

.profile-button:active {
	background-color: #6b47a5;
	box-shadow: 0 3px #666;
}
