.profile-image-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-content: center;
	width: 90%;
	height: 60%;
	min-width: 400px;
	max-width: 780px;
	top: 25%;
	color: white;
	font-family: 'Lakki Reddy', cursive;
}

.profile-image {
	position: absolute;
	width: 180px;
	left: -3%;
	bottom: 20%;
}

#profile-title {
	position: absolute;
	top: 1px;
	left: 200px;
	bottom: 40%;
	font-size: calc(60px + 1.5vw);
}

#profile-sub-title {
	position: absolute;
	left: 200px;
	bottom: 28%;
	font-size: calc(20px + 0.5vw);
}
